<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/80fe816b86.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Metal+Mania&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Aclonica&family=Marck+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/fries.css">
    <link rel="shortcut icon" href="/public/css/images/fk.jpg">
    <title>Fries and Ketchup - RBG Community</title>
    
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a href="/index" class="navbar-brand">Fries and Ketchup</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <% if(currentUser){ %>
                        <a href="/user" class="nav-link"><%= currentUser.username %></a>
                    <% } else { %>
                        <a class="nav-link" href="/login">User</a>                           
                            
                    <% } %>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/members">Members <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/match">Matches</a>
                </li>
            </ul>
            <% if (!currentUser) { %>
                <a href="/login"><button class="btn btn-dark my-2 my-sm-0">Log In</button></a> 
            <% } else { %>
                <a href="/logout"><button class="btn btn-dark my-2 my-sm-0">Log Out</button></a>
            <% } %> 
            </div>
        </div>    
    </nav>