<div class="container">
    <div class="row"> 
                   
        <a href="/match/new" class="btn col-4 offset-4 newwinlossbtn">
            New RBG  
        </a>          
    </div>
</div>