<%- include("partials/header3") %>

<div class="jumboContainer">
    <div class="jumbotron text-center">
        <h1 class="display-3">Fries and Ketchup</h1>
        <div class="container">
            <h2 class="lead">Oops! Error!</h2>
        </div>
        <hr class="my-2">
        <div class="container">
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center marginbtm">
        <div class="col-6 recentbgdiv yellowlinesBTM">
            <h4>
                <%= err.message%>
            </h4>            
        </div>
    </div>
</div>








<%- include("partials/footer") %>