<%- include("partials/header") %>

<div class="jumboContainer">
    <div class="jumbotron text-center">
        <h1 class="display-3">Fries and Ketchup</h1>
        <div class="container">
            <h2 class="lead">Landing Page</h2>
        </div>
        <hr class="my-2">
        <!-- <p class="lead">
            <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
        </p> -->
    </div>
</div>


<%- include("partials/newrbgbtn") %>







<%- include("partials/footer") %>