<%- include("partials/header") %>

    <form action="/winloss" method="POST">
        <div class="container newwinloss">                         
            <div class="align-items-center winlossformtop">
                <div class="col-2 offset-5 winlosstopcont row">
                    <!-- <label class="mr-sm-2" for="inlineFormCustomSelect">Preference</label> -->
                    <select class="custom-select mr-sm-2" required>
                        <option selected>Battleground...</option>
                        <option value="1">Warsong Gulch</option>
                        <option value="2">Arathi Basin</option>
                        <option value="3">Eye of the Storm</option>
                        <option value="4">Silvershard Mines</option>
                        <option value="5">Battle For Gilneas</option>
                        <option value="6">Twin Peaks</option>
                        <option value="7">Temple of Kotmogu</option>
                        <option value="8">Seething Shore</option>
                    </select>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12">
                        <card class="specclassicon" dragable>
                            <img src="css/images/blood.png">
                        </card>
                        <card class="specclassicon" dragable>
                            <img src="css/images/frost.png">
                        </card>
                        <card class="specclassicon" dragable>
                            <img src="css/images/unholy.png">
                        </card>
                        <card class="specclassicon" dragable>
                            <img src="css/images/balance.png">
                        </card>
                        <card class="specclassicon" dragable>
                            <img src="css/images/feral.png">
                        </card>
                        <card class="specclassicon" dragable>
                            <img src="css/images/guardian.png">
                        </card>
                        <card class="specclassicon" dragable>
                            <img src="css/images/restoration.png">
                        </card>
                        <card class="specclassicon" dragable>
                            <img src="css/images/beastmastery.png">
                        </card>
                        <card class="specclassicon" dragable>
                            <img src="css/images/marksman.png">
                        </card>
                        <card class="specclassicon" dragable>
                            <img src="css/images/survival.png">
                        </card>
                        <card class="specclassicon" dragable>
                            <img src="css/images/shadow.png">
                        </card>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12">
                        <card class="specclassicon" draggable>
                            <img src="css/images/arcane.png">
                        </card>
                        <card class="specclassicon" draggable>
                            <img src="css/images/fire.png">
                        </card>
                        <card class="specclassicon" draggable>
                            <img src="css/images/frostmage.png">
                        </card>
                        <card class="specclassicon" draggable>
                            <img src="css/images/brewmaster.png">
                        </card>
                        <card class="specclassicon" draggable>
                            <img src="css/images/mistweaver.png">
                        </card>
                        <card class="specclassicon" draggable>
                            <img src="css/images/windwalker.png">
                        </card>
                        <card class="specclassicon" draggable>
                            <img src="css/images/holy.png">
                        </card>
                        <card class="specclassicon" draggable>
                            <img src="css/images/protection.png">
                        </card>
                        <card class="specclassicon" draggable>
                            <img src="css/images/retribution.png">
                        </card>
                        <card class="specclassicon" draggable>
                            <img src="css/images/holypriest.png">
                        </card>
                        <card class="specclassicon" draggable>
                            <img src="css/images/discipline.png">
                        </card>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12">
                        <card class="specclassicon" draggable>
                            <img src="css/images/assassination.png">
                        </card>
                        <card class="specclassicon" draggable>
                            <img src="css/images/outlaw.png">
                        </card>
                        <card class="specclassicon" draggable>
                            <img src="css/images/subtlety.png">
                        </card>
                        <card class="specclassicon" draggable>
                            <img src="css/images/enhancement.png">
                        </card>
                        <card class="specclassicon" draggable>
                            <img src="css/images/elemental.png">
                        </card>
                        <card class="specclassicon" draggable>
                            <img src="css/images/restorationshaman.png">
                        </card>
                        <card class="specclassicon" draggable>
                            <img src="css/images/affliction.png">
                        </card>
                        <card class="specclassicon" draggable>
                            <img src="css/images/demonology.png">
                        </card>
                        <card class="specclassicon" draggable>
                            <img src="css/images/destruction.png">
                        </card>
                        <card class="specclassicon" draggable>
                            <img src="css/images/arms.png">
                        </card>
                        <card class="specclassicon" draggable>
                            <img src="css/images/fury.png">
                        </card>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <card class="specclassicon" draggable>
                                <img src="css/images/fire.png">
                            </card>
                            <card class="specclassicon" draggable>
                                <img src="css/images/fire.png">
                            </card>
                            
                            <card class="specclassicon" draggable>
                                <img src="css/images/protectionwarrior.png">
                            </card>
                            
                        </div>
                    </div>
                </div>
                <div class="row winlossformtop">
                    <div class="col-md-6 newwinlosscol">
                        <h3>Your Team</h3>
                        <p class="pteamcol"></p>
                    </div>
                    <div class="col-md-6 newwinlosscol">
                        <h3>Enemy Team</h3>
                        <p class="pteamcol"></p>
                    </div>
                </div>
            </div>           
        </div>

        <div class="container">
            <div class="row submitrow">
                <button type="submit" class="col-sm-2 offset-5 btn submitwinlossbtn">
                    Submit
                </button>                        
            </div>
        </div>
    </form>

    
    <script type="text/javascript" src="js/newwinloss.js"></script>

<%- include("partials/footer") %>