<%- include("partials/header") %>

<div class="jumboContainer">
    <div class="jumbotron text-center">
        <h1 class="display-3">Fries and Ketchup</h1>
        <div class="container">
            <h2 class="lead">User Page</h2>
        </div>
        <hr class="my-2">
        <div class="container">
            <h4 id="jumboPara" class="floatLeft">Seasons Record</h4>
            <h4 id="jumboPara" class="floatRight">Tonight: Wins Losses</h4>
        </div>
        <!-- <p class="lead">
            <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
        </p> -->
    </div>
</div>


<%- include("partials/newrbgbtn") %>







<%- include("partials/footer") %>